extends template.pug

block variables
    -var title = 'No Big Follows'

block main-content
    div
        img(src="bot.png").pb-3
        p.mb-0 This is an app (bot?) to purge this spam bot from your twitch chat.
        p
            a(href="register") Click here
            |  to register my anti-bot thing into your channel.
        p.mb-0 I am 
            a(href="https://github.com/GeoffreyY/nobigfollows") open source
            | !