extends template.pug

block variables
    -var title = 'Registration Finished'

block main-content
    div.container.pt-3.pb-3
        p #{username}, you have been registered!
        p.mb-0 Plan type: #{plan_type}