block variables
doctype strct
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css", integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2", crossorigin="anonymous")
        link(rel="stylesheet", href="/test.css")
        title #{title}
    body
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
            a.navbar-brand(href="/") Home
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarNav
                div.navbar-nav
                    a.navbar-item.nav-link(href="/register") Register
                    a.navbar-item.nav-link(href="/unregister") Unregister
                    a.navbar-item.nav-link(href="/profile/redirect") My profile
        div.container.pt-3.pb-3.padding#top-padding
        div.container.pt-3.pb-3#main-title
            h1 #{title}
        div.container.pt-3.pb-3.padding#mid-padding
        div.container.pt-3.pb-3#main-content
            block main-content
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx", crossorigin="anonymous")