extends template.pug

block variables
    -var title = 'Unregister'

block main-content
    div Click here to unregister:
        form.pt-2.mb-2#full-form(action="/unregister/authorize", method="get")
            button.btn.btn-primary.btn-sm(type="submit") Unregister
